<div *ngIf="!displaybill">
<mat-card class="example-form">
    <mat-card-title>Create Order</mat-card-title>
    <form [formGroup]="addProductForm"  >


        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Products</mat-label>
            <mat-select matNativeControl required formControlName="productId" >
                <mat-option *ngFor="let product of products" [value]="product.productId">{{product.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" matInput formControlName="quantity" placeholder="">
        </mat-form-field>
        <mat-error *ngIf="addProductForm.get('quantity')?.hasError('required') && addProductForm.get('quantity')?.touched">
            Quantity is <strong>required</strong>
        </mat-error>

        <button mat-raised-button color="primary" (click)="createOrder()">Add to bill</button>
    </form>
</mat-card>

<table  *ngIf="orders.length >0">
    <th style="text-indent :7em;"><h1>Ordered  Items</h1></th>
    <tr> 
        <td *ngFor="let group of displayedColumns"><h2 style="text-indent :5em;">{{group}}</h2></td>
    </tr>
    <tr *ngFor="let item of orders">
        <td><h3 style="text-indent :7em;">{{item.product.name}}</h3></td>
        <td><h3 style="text-indent :7em;">{{item.product.cartonPrice}}</h3></td>
        <td><h3 style="text-indent :7em;">{{item.quantity}}</h3></td>
        <td><h3 style="text-indent :7em;">{{item.numberOfCarton}}</h3></td>
        <td><h3 style="text-indent :7em;">{{item.price}}</h3></td>
    </tr>
    <p align="center" ><button mat-raised-button color="primary" class="button-ex" (click)="cratebill()">Create Bill</button>
    </p>
</table>
</div>

<div *ngIf="displaybill">
    <table>
        <th style="text-indent :7em;"><h1>Ordered  Items</h1></th>
        <tr> 
            <td *ngFor="let group of displayedColumns"><h2 style="text-indent :5em;">{{group}}</h2></td>
        </tr>
        <tr *ngFor="let item of orders">
            <td><h3 style="text-indent :7em;">{{item.product.name}}</h3></td>
            <td><h3 style="text-indent :7em;">{{item.product.cartonPrice}}</h3></td>
            <td><h3 style="text-indent :7em;">{{item.quantity}}</h3></td>
            <td><h3 style="text-indent :7em;">{{item.numberOfCarton}}</h3></td>
            <td><h3 style="text-indent :7em;">{{item.price}}</h3></td>
        </tr>
    </table>
    <h2 align="center" *ngIf="bill.eligibleDiscount">Discount : {{bill.discount}}</h2>
        <h2 align="center"> Total Amount : {{bill.totalAmount}}</h2>
</div>



